---
import Navbar from '../components/Navbar.astro';
import MainLayout from '../layouts/MainLayout.astro';

// Server Only
const name = 'Alejandro Sánchez';
const title = 'Home Page';
---

<MainLayout title="Home Page">
  <h1>Hola Mundo</h1>{name}
  <p>Momento actual: {new Date().toLocaleTimeString()}</p>
  <p id="current-time">Momento actual real:</p>
  <script>
    const currentYear = new Date().getFullYear();
    const currentTimeParagraph = document.querySelector(
      '#current-time'
    ) as HTMLParagraphElement;
    currentTimeParagraph.innerText = `Momento actual Real: ${new Date().toLocaleTimeString()}`;
    // setInterval(() => {
    //   currentTimeParagraph.innerText = `Momento actual: ${new Date().toLocaleTimeString()}`;
    // }, 1000);
  </script>
</MainLayout>
